.Login{

    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100wh;
    margin-right : 0 !important;
    margin-left : 0 !important;
    padding-right : 0 !important;
    padding-left : 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.create_login {
    margin-top: 100px;
    border: 1px;
    border-radius: 40px ;
    width: 500px;
    height: 500px;
    background-color: rgb(248, 248, 154);
    position: fixed;
}

.imagen_logo{
    width:130px;
    height:130px;
    margin-top: 30px;
    margin-left: 175px;
    border-radius: 30%;
}

.title_login p{
    font-size: 30px;
    color:rgb(0, 0, 0);
    margin-left: 0px;
    margin-top: 10px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.form_control{
    
    color:rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 300px;
    border-radius: 8px;
}

.ingresar{
    border-color: white;
    background-color: rgb(139, 213, 35);
    text-align: center;
    align-items: center;
    width: 40%;
    border-radius: 5px;
    height: 40px;
    font-weight: bold;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    margin-left: 140px;
}

.text_help1 p{
    text-align: left;
    padding-left: 60px;
    font-size: 12px;
    color:rgb(100, 123, 32);
}

.text_help1:hover{
    color:black;
}

.text_help2 p{
    text-align: left;
    margin-top: 15px;
    padding-left: 60px;
    font-size: 12px;
    color:rgb(0, 0, 0);
}

.registrarse{
    border-color: white;
    background-color: rgb(147, 210, 58);
    text-align: center;
    align-items: center;
    width: 30%;
    border-radius: 5px;
    height: 40px;
    font-weight: bold;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 160px;
}

.registrarse:hover, .ingresar:hover{  
    background-color: rgb(151, 128, 114);
}