.fondo{
    height: 100vh;
    width: auto;
    background-color: rgb(255, 221, 158);
    display: flex;
    flex-direction: row;
   
}

.titulo{
    text-align: center;
}

.tabla{
    text-align: center;
    border-color: black;
    border: 1px;
}

/*
.contenido{
    display: flex;
    background-color: blue;
    width: 100%;
    height: 100vh;
}
*/

.barra{
    width: 30vh;
    height: 100%;
    
}