.Login{
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100wh;
    margin-right : 0 !important;
    margin-left : 0 !important;
    padding-right : 0 !important;
    padding-left : 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.create_login {
    margin-top: 100px;
    border: 1px;
    border-radius: 40px ;
    width: 500px;
    height: 500px;
    background-color: rgb(248, 248, 154);
    position: fixed;
}

.barra_superior{
    position: fixed;
    display: flex;
    width: 221vh;
    height: 100vh;
}

.barra_inferior{
    margin-top: 90px;
    position: fixed;
    display: flex;
    width: 221vh;
    height: 100vh;
    margin-left: -500px;
}

.imagen_logo_perfil{
    width:80px;
    height:80px;
    margin-top: 20px;
    margin-left: 210px;
    border-radius: 30%;
}

.title_login p{
    font-size: 30px;
    color:rgb(0, 0, 0);
    margin-left: 0px;
    margin-top: 10px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.col3{
    margin-top: 20px;
    font-size: 1rem;
    width: 400px;
    background-color:rgb(255, 255, 255);
    border: 0.5px solid;
    border-radius: 10px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    color: #1C2833;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding-left: 15px;
    height: 30px;
    order: 1;

}

.col3:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.eliminar_boton_modif{
    border-color: white;
    background-color: rgb(147, 210, 58);
    text-align: center;
    align-items: center;
    width: 30%;
    border-radius: 5px;
    height: 50px;
    width: 120px;
    font-weight: bold;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    margin-left: 190px;
    margin-top: 40px;
}

.eliminar_boton:hover{  
    background-color: rgb(151, 128, 114);
    color: black;
    border: solid 1px;
    border-color: green;
}

.eliminar{
    width: 80px;
    margin-left: -50px;  
}

.title_cambio{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.datos_modificar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botones_recuadro{
    border-color: white;
    background-color: rgb(147, 210, 58);
    text-align: center;
    align-items: center;
    width: 30%;
    border-radius: 5px;
    height: 50px;
    width: 120px;
    font-size: 13px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);

}

.botones_recuadro:hover{  
    background-color: rgb(217, 212, 209);
    color: black;
    border: solid 1px;
    border-color: green;
}