.fondo{
    
    width: 200px;
    height: auto;
    background-color: orange;
    border: black solid 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nav a{
    color: black;
    text-decoration: none;
    margin: 10%;
    width: 200px;
}

.nav :hover{  
    background-color: rgb(218, 84, 1);
}

.nav :active{
    background-color: rgb(218, 59, 1);
}